<section class="contacts">
    <div class="container">
        <div class="info">
            <div class="top">
                <h4 class="title-section">КОНТАКТИ</h4>
                <ul class="social-items">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
            <div class="address-items">
                <div class="address-item active" data-lat="48.938349" data-lng="24.718405">
                    <div class="item-top">
                        <p>
                            м. Івано-Франківськ, вул. Мельника, 2
                        </p>
                    </div>
                    <div class="item-desc active">
                        <div class="desc-elemnt">
                            <i class="icon-location"></i>
                            <div class="content">
                                <p>м. Івано-Франківськ, вул. Мельника, 2
                                    <span>
                                        ТЦ «Екстім–Престиж»
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="desc-elemnt">
                            <i class="icon-phone"></i>
                            <div class="content">
                                <a>+38 (066) 008 41 12</a>
                                <a>+38 (098) 661 03 55</a>
                            </div>
                        </div>
                        <div class="desc-elemnt">
                            <i class="icon-paper-plane"></i>
                            <div class="content">
                                <a>expressoptic.if@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="address-item" data-lat="48.922916" data-lng="24.708692">
                    <div class="item-top">
                        <p>
                            cмт. Богородчани вул. Шевченка, 54
                        </p>
                    </div>
                    <div class="item-desc">
                        <div class="desc-elemnt">
                            <i class="icon-location"></i>
                            <div class="content">
                                <p>cмт. Богородчани вул. Шевченка, 54
                                    <span>
                                        ТЦ «Екстім–Престиж»
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="desc-elemnt">
                            <i class="icon-phone"></i>
                            <div class="content">
                                <a>+38 (066) 008 41 12</a>
                                <a>+38 (066) 008 41 12</a>
                                <a>+38 (066) 008 41 12</a>
                                <a>+38 (098) 661 03 55</a>
                            </div>
                        </div>
                        <div class="desc-elemnt">
                            <i class="icon-paper-plane"></i>
                            <div class="content">
                                <a>expressoptic.if@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="address-item" data-lat="48.902792" data-lng="24.699246">
                    <div class="item-top">
                        <p>
                            м. Івано-Франківськ, вул. Мельника, 2
                        </p>
                    </div>
                    <div class="item-desc">
                        <div class="desc-elemnt">
                            <i class="icon-location"></i>
                            <div class="content">
                                <p>м. Тлумач вул. Т.Шевченка, 6
                                    <span>
                                        ТЦ «Екстім–Престиж»
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="desc-elemnt">
                            <i class="icon-phone"></i>
                            <div class="content">
                                <a>+38 (066) 008 41 12</a>
                                <a>+38 (098) 661 03 55</a>
                                <a>+38 (066) 008 41 12</a>
                                <a>+38 (098) 661 03 55</a>
                                <a>+38 (066) 008 41 12</a>
                                <a>+38 (098) 661 03 55</a>
                            </div>
                        </div>
                        <div class="desc-elemnt">
                            <i class="icon-paper-plane"></i>
                            <div class="content">
                                <a>expressoptic.if@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="maps" >
        <div class="map" id="map"></div>
    </div>
</section>
<footer class="footer">
        <p>
            <span>
                EXPRESS OPTIC © Copyright 2018. All Rights Reserved.
            </span>
            <span>
                Designed by <a href="bluebird.team">BlueBird.</a>
            </span>
        </p>
</footer>