<header class="top-menu">
    <div class="left">
        <div class="logo"><a href=""></a><img src="img/logo.svg" alt=""></div>
        <nav class="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <div class="catalog">
                <a itemprop="url" href="index.html" title="Каталог товарів">
                    <i class="icon-menu"></i>
                    <span itemprop="name">Каталог товарів</span>
                </a>
                <ul class="catalog-list">
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Безперервного носіння</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Торичні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>

                            <li class="sub-menu-child">
                                <a href="#">Кольорві</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Квартальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Для спорту</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Місячні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Мультифокальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Догляд</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Розчин</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Контейнери та інше</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Зволожуючі краплі</a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Безперервного носіння</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Торичні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>

                            <li class="sub-menu-child">
                                <a href="#">Кольорві</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Квартальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Для спорту</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Місячні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Мультифокальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Догляд</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Розчин</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Контейнери та інше</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Зволожуючі краплі</a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Безперервного носіння</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Торичні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Безперервного носіння</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Торичні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>

                            <li class="sub-menu-child">
                                <a href="#">Кольорві</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Квартальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Для спорту</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Місячні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Мультифокальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Догляд</a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>

                            <li class="sub-menu-child">
                                <a href="#">Кольорві</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Квартальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Для спорту</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Місячні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Мультифокальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Догляд</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Розчин</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Контейнери та інше</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Зволожуючі краплі</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="menu-list">
                <li class="menu-item menu-item-has-children">
                    <a itemprop="url" href="index.html" title="Головна">
                        <span itemprop="name">ПОСЛУГИ</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a itemprop="url" href="index.html" title="Головна">
                                <span itemprop="name">Діагностика зору</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a itemprop="url" href="index.html" title="Головна">
                                <span itemprop="name">Ремонт окулярів</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a itemprop="url" href="index.html" title="Головна">
                                <span itemprop="name">Виготовлення</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a itemprop="url" href="index.html" title="Головна">
                        <span itemprop="name">АКЦІЇ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a itemprop="url" href="index.html" title="Головна">
                        <span itemprop="name">НОВИНИ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a itemprop="url" href="index.html" title="Головна">
                        <span itemprop="name">ЦІКАВО ЗНАТИ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a itemprop="url" href="index.html" title="Головна">
                        <span itemprop="name">ОПЛАТА ТА ДОСТАВКА</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a itemprop="url" href="index.html" title="Головна">
                        <span itemprop="name">КОНТАКТИ</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <nav class="mobile-navigation">
            <div class="catalog">
                <a title="Каталог товарів">
                    <i class="icon-menu"></i>
                    <span itemprop="name">Каталог товарів</span>
                </a>
                <ul class="catalog-list">
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Безперервного носіння</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Торичні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>

                            <li class="sub-menu-child">
                                <a href="#">Кольорві</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Квартальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Для спорту</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Місячні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Мультифокальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Догляд</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Розчин</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Контейнери та інше</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Зволожуючі краплі</a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Безперервного носіння</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Торичні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>

                            <li class="sub-menu-child">
                                <a href="#">Кольорві</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Квартальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Для спорту</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Місячні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Мультифокальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Догляд</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Розчин</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Контейнери та інше</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Зволожуючі краплі</a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Безперервного носіння</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Торичні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Безперервного носіння</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Торичні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>

                            <li class="sub-menu-child">
                                <a href="#">Кольорві</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Квартальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Для спорту</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Місячні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Мультифокальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Догляд</a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalog-item menu-item-has-children">
                        <a href="#">Контактні лінзи</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-child">
                                <a href="#">Одноденні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Карнавальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Традиційні</a>
                            </li>

                            <li class="sub-menu-child">
                                <a href="#">Кольорві</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Квартальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Для спорту</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Місячні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Мультифокальні</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Догляд</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Розчин</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Контейнери та інше</a>
                            </li>
                            <li class="sub-menu-child">
                                <a href="#">Зволожуючі краплі</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="menu-list">
                <li class="menu-item menu-item-has-children">
                    <a href="index.html" title="Головна">
                        <span itemprop="name">ПОСЛУГИ</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="index.html" title="Головна">
                                <span itemprop="name">Діагностика зору</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html" title="Головна">
                                <span itemprop="name">Ремонт окулярів</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html" title="Головна">
                                <span itemprop="name">Виготовлення</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="index.html" title="Головна">
                        <span itemprop="name">АКЦІЇ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="index.html" title="Головна">
                        <span itemprop="name">НОВИНИ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="index.html" title="Головна">
                        <span itemprop="name">ЦІКАВО ЗНАТИ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="index.html" title="Головна">
                        <span itemprop="name">ОПЛАТА ТА ДОСТАВКА</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="index.html" title="Головна">
                        <span itemprop="name">КОНТАКТИ</span>
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="social-items">
            <li class="social-item"><a href="#"><i class="icon-facebook"></i></a></li>
            <li class="social-item"><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
        <div class="basket">
            <a href="#"></a>
            <i class="icon-shopping-basket"></i>
            <b class="active-count">0</b>
            <div class="product-basket">
                <span class="label">Кошик</span>
                <p class="info"><span class="count">0</span>товарів</p>
            </div>
        </div>
    </div>
    <a class="menu-toggle" id="toggle">
    </a>
</header>